@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#444444];
}

.download_btn {
  @apply relative px-6 overflow-hidden font-sans text-xl text-white rounded-full h-14 w-44;
  box-shadow:
    0px 0px 2px 2px #353535 inset,
    -3px 4px 3px #d0d0d2 inset,
    -3px -3px 2px #d0d0d2 inset,
    -3px 10px 16px -6px #696868,
    18px -18px 25px -14px #242328 inset;
  background: linear-gradient(145deg, #2b2a35, #46444b);
  transition: all 0.3s;
}


.download_btn:disabled {
cursor: not-allowed;
}

.btn_hover {
  transform: translateY(-5px);
  box-shadow:
    0px 0px 2px 2px #353535 inset,
    -3px 4px 3px #d0d0d2 inset,
    -3px -3px 2px #d0d0d2 inset,
    -3px 15px 26px -6px #696868,
    18px -18px 25px -14px #242328 inset;
}

.download_btn span {
  opacity: 0.9;
  font-weight: 500;
  color: transparent;
  background-clip: text;
  --webkit-background-clip: text;
  background-image: linear-gradient(90deg, #ffffff, #e2e0e0);
}

.download_btn::before {
  @apply absolute top-0 left-0 bg-white size-12;
  content: "";
  filter: blur(13px);
  position: absolute;
  left: 19%;
  top: -18px;
  rotate: -63deg;
  width: 1rem;
  height: 4rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255, 255, 255);
}

.download_btn::after {
  @apply absolute top-0 left-0 bg-white size-12;
  content: "";
  filter: blur(16px);
  position: absolute;
  left: 78%;
  top: -29px;
  rotate: -63deg;
  width: 1rem;
  height: 4rem;
  --tw-bg-opacity: 1;
  background-color: rgb(205 205 205);
}

@keyframes btn_click {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.btn_clicked {
  animation: btn_click 0.3s;
}

.progress_track {
  box-shadow: 1px 3px 10px black;
  background: linear-gradient(to right, #ffffff5b 60%, #5e5e5e88);
}

@keyframes progress {
  from{
    width: 0%;
  }
  to{
    width: 100%;
  } 
}

.progress_bar {
  /* transition: all 4s; */
  background: #ebebee;
  animation: progress 2s cubic-bezier(0.32, 1.11, 1, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
    scale: 1.2;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    scale: 1.4;
  }
}

.icon {
  animation: fadeIn 0.5s forwards;
}

.download_finished {
  @apply flex items-center justify-center p-0 w-14;
}
